<IfModule mod_rewrite.c>
  # Make sure directory listing is disabled
  Options +FollowSymLinks -Indexes
  RewriteEngine on

  # NOTICE: If you get a 404 play with combinations of the following commented out lines
  #AllowOverride All
  #RewriteBase /wherever/codeginiter/is

  # Restrict your site to only one domain
  # !important USE ONLY ONE OPTION

  # Option 1: To rewrite "www.domain.com -> domain.com" uncomment the following lines.
  RewriteCond %{HTTPS} !=on
  RewriteCond %{HTTP_HOST} ^www.(.+)$ [NC]
  RewriteRule ^(.*)$ http://%1/ [R=301,L]

  # Option 2: To rewrite "domain.com -> www.domain.com" uncomment the following lines.
  #RewriteCond %{HTTPS} !=on
  #RewriteCond %{HTTP_HOST} !^www..+$ [NC]
  #RewriteCond %{HTTP_HOST} (.+)$ [NC]
  #RewriteRule ^(.*)$ http://www.%1/ [R=301,L]

  # Remove index.php from URL
  RewriteCond %{HTTP:X-Requested-With} !^XMLHttpRequest$
  RewriteCond %{THE_REQUEST} ^[^/]*/index.php [NC]
  RewriteRule ^index.php(.*)$ [R=301,NS,L]

  # Keep people out of codeigniter directory and Git/Mercurial data
  #RedirectMatch 403 ^/(system|.git|.hg).*$
  RedirectMatch 403 ^/(system|application|engines|.git|.hg|.txt|.json|.md|.rst).*$

  # Send request via index.php (again, not if its a real file or folder)
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  <IfModule mod_php5.c>
    RewriteRule ^(.*)$ index.php/ [L]
  </IfModule>
  <IfModule !mod_php5.c>
    RewriteRule ^(.*)$ index.php?/ [L]
  </IfModule>
</IfModule>

<ifModule mod_gzip.c>
  mod_gzip_on Yes
  mod_gzip_dechunk Yes
  mod_gzip_item_include file .(html?|txt|css|js|php|pl)$
  mod_gzip_item_include handler ^cgi-script$
  mod_gzip_item_include mime ^text/.*
  mod_gzip_item_include mime ^application/x-javascript.*
  mod_gzip_item_exclude mime ^image/.*
  mod_gzip_item_exclude rspheader ^Content-Encoding:.*gzip.*
</ifModule>

<IfModule mod_deflate.c>
  # Insert filter
  SetOutputFilter DEFLATE
  # Specifies what level of compression should be used
  # DeflateCompressionLevel 9
  # Netscape 4.x has some problems...
  BrowserMatch ^Mozilla/4 gzip-only-text/html
  # Netscape 4.06-4.08 have some more problems
  BrowserMatch ^Mozilla/4\.0[678] no-gzip
  # MSIE masquerades as Netscape, but it can accept text/html compression
  BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
  # Don't compress everything
  SetEnvIfNoCase Request_URI \.(?i:gif|jpe?g|png)$ no-gzip dont-vary
  SetEnvIfNoCase Request_URI \.(?i:exe|t?gz|zip|bz2|sit|rar)$ no-gzip dont-vary
  SetEnvIfNoCase Request_URI \.pdf$ no-gzip dont-vary
  SetEnvIfNoCase Request_URI \.avi$ no-gzip dont-vary
  SetEnvIfNoCase Request_URI \.mov$ no-gzip dont-vary
  SetEnvIfNoCase Request_URI \.mp3$ no-gzip dont-vary
  SetEnvIfNoCase Request_URI \.mp4$ no-gzip dont-vary
  SetEnvIfNoCase Request_URI \.rm$ no-gzip dont-vary
  SetEnvIfNoCase Request_URI \.flv$ no-gzip dont-vary
</IfModule>

<IfModule mod_expires.so>
  ExpiresActive On
  ExpiresByType text/css "access plus 1 month"
  ExpiresByType text/x-javascript "access plus 1 month"
  ExpiresByType image/gif "access plus 1 year"
  ExpiresByType image/png "access plus 1 year"
  ExpiresByType image/jpg "access plus 1 year"
  ExpiresByType image/jpeg "access plus 1 year"
  ExpiresByType image/x-icon "access plus 1 year"
  ExpiresByType application/pdf "access plus 1 month"
  ExpiresByType application/x-javascript "access plus 1 months"
  ExpiresByType application/x-shockwave-flash "access plus 1 month"
  ExpiresDefault "access plus 3 days"
</IfModule>